@import "../bower_components/bourbon5/core/_bourbon.scss";
@import "../bower_components/neat/core/_neat.scss";
@import "../bower_components/normalize-scss/sass/_normalize.scss";
@import "../bower_components/bitters/core/_base.scss";

body {
  margin: 0;
  background: #F6F7F2;
}

.container {
  @include grid-container;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
    text-decoration: underline;
  }

  h3 {
    text-decoration: underline;
  }
}

// stats module
#statsModule {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}

// people module
.hero-unit {
  margin: 20px auto 0 auto;
  width: 300px;
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
  background-color: #eee;
  border-radius: 6px;
  padding: 10px 20px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
}

button {
  zoom: 2;
  background-color: #999;
  padding: 5px 20px;
  border-radius: 0;
  margin-bottom: 30px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &.active {
    background-color:rgb(165, 227, 158);
  }
}


#peopleModule {
  text-align: center;

  ul {
    padding: 0;
  }
}
#peopleModule li {
  display: inline-block;
  list-style-type: none;
  background: #98ec9b;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 5px 0;
  width: 200px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
#peopleModule li:hover {
  opacity: 1;
}
#peopleModule li span {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#peopleModule li i {
  cursor: pointer;
  font-weight: bold;
  float: right;
  font-style: normal;
  background: #666;
  padding: 2px 4px;
  font-size: 60%;
  color: white;
  border-radius: 20px;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin-top: 3px;
}

#peopleModule li i:hover {
  opacity: 1;
}
